<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유자유</title>
    <link rel="stylesheet" href="../static/free.css">
    <script>
        function main(){
            location.href='../main.html';
        }
        function writes(){
            location.href='write.html';
        }
    </script>
</head>
<body>
    <h1>윤정욱의 홈페이지입니다.</h1>
    <table border="1" style="text-align: center;" align="center">
        <caption><span>자유 게시판</span></caption>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
            <tr>
                <td style="font-weight: bolder;">1</td>
                <td><a href="../templates/detail.html">나는 오늘 신나요</a></td>
                <td>윤정욱</td>
                <td>21-12-09</td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">2</td>
                <td>오늘 밥은 무엇?</td>
                <td>윤정욱</td>
                <td>21-12-09</td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">3</td>
                <td>아이고야 피곤한 날</td>
                <td>윤정욱</td>
                <td>21-12-09</td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">4</td>
                <td>허리가 너무 아파요</td>
                <td>윤정욱</td>
                <td>21-12-09</td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">5</td>
                <td>집에가서 뭐하지?</td>
                <td>윤정욱</td>
                <td>21-12-09</td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">6</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">7</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="font-weight: bolder;">8</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>페이지</td>
                <td colspan="3">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">...</a>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" onclick="main()" value="메인화면 돌아가기"></td>
                <td colspan="2"><input type="button" onclick="writes()" value="글 작성"></td>
            </tr>
    </table>
    <footer>
        <p>문서명 : 화면 구현 포트폴리오</p>
        <p>작성일 : 2021-12-09</p>
        <p>저작권 : copyright@2021 윤정욱</p>
    </footer>
</body>
</html>