<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성작성</title>
    <link rel="stylesheet" href="../static/write.css">
    <script>
        function main(){
            location.href='free.html';
        }
    </script>
</head>
<body>
    <h1>윤정욱의 홈페이지입니다.</h1>
    <table border="1" style="text-align: center;" align="center">
        <caption><span>게시판 작성</span></caption>
        <th>제목</th>
        <td><input type="text" value="제목을 작성하세요" class="title"></td>
        <th>작성자</th>
        <td>윤정욱</td>
            <tr>
                <td style="font-weight: bolder;">글 내용</td>
                <td colspan="3"><textarea name="" id="" cols="170" rows="35"></textarea></td>
            </tr>
            <tr>
                <td><input type="button" onclick="main()" value="목록보기"></td>
                <td><input type="reset" value="다시작성"></td>
                <td colspan="2"><input type="button" onclick="main()" value="등록"></td>
            </tr>
    </table>
    <footer>
        <p>문서명 : 화면 구현 포트폴리오</p>
        <p>작성일 : 2021-12-09</p>
        <p>저작권 : copyright@2021 윤정욱</p>
    </footer>
</body>
</html>